<%= form_with(model: rehber, local: true) do |form| %>
  <% if rehber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rehber.errors.count, "error") %> prohibited this rehber from being saved:</h2>

      <ul>
      <% rehber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :isim %>
    <%= form.text_field :isim %>
  </div>

  <div class="field">
    <%= form.label :sehir %>
    <%= form.text_field :sehir %>
  </div>

  <div class="field">
    <%= form.label :ozet %>
    <%= form.text_area :ozet %>
  </div>
  
  <div 
  
  <div class="field">
 <%= form.label :resim %>
 <%= form.file_field :resim %>
</div>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
